<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuan.springbootinit.mapper.ChartMapper">

    <resultMap id="BaseResultMap" type="com.yuan.bi.model.entity.Chart">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="goal" column="goal" jdbcType="VARCHAR"/>
            <result property="chartData" column="chartData" jdbcType="VARCHAR"/>
            <result property="chartType" column="chartType" jdbcType="VARCHAR"/>
            <result property="genChart" column="genChart" jdbcType="VARCHAR"/>
            <result property="genResult" column="genResult" jdbcType="VARCHAR"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,'name',goal,
        chartType,genChart,genResult,userId,
        createTime,updateTime,isDelete
    </sql>

    <select id="queryChartData" parameterType="string" resultType="map">
        ${querySql}
    </select>

    <update id="createChartDataTableById" parameterType="string">
        ${createTableSql}
    </update>

    <insert id="insertChartDataTableById" parameterType="string">
        ${insertTableSql}
    </insert>


</mapper>
